<div class="sidebar">
    <!-- Sidebar content here -->
    <nav class="py-4">
      <ul class="nav flex-column">
        <li class="nav-item nav-item-logo"> 
          <img src="/assets/img/logo.svg" alt="Home_icon">
        </li>
        <li class="nav-item"> 
          <img src="/assets/img/home_icon.svg" alt="Home_icon">
          <a class="nav-link text-light" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
            <img src="/assets/img/quiz_icon.svg" alt="Home_icon">
          <a class="nav-link text-light" href="/quiz">Quiz</a>
        </li>
        <li class="nav-item">
            <img src="/assets/img/knolly_icon.svg" alt="Home_icon">
          <a class="nav-link text-light" href="/doubt">Knolly</a>
        </li>
        <li class="nav-item">
          <img src="/assets/img/logout.svg" alt="Home_icon">
          <a class="nav-link text-light" href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </div>