<%- include('./partials/header.ejs') %>
</head>
<body>

<section class="d-flex align-items-stretch">
  <div class="sidebar">
    <!-- Sidebar content here -->
    <nav class="py-4">
      <ul class="nav flex-column">
        <li class="nav-item"> 
          <a class="nav-link text-light" href="/topic">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Knolly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Main content -->
  <div class="main-content">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <header class="text-center mb-4">
        <h1 class="display-4">Hello <%= user %></h1>
      </header>
      <div class="card">
        <div class="card-body Content">
          <h2>Main Content</h2>
          <p>This is the dashboard page content.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<%- include('./partials/footer.ejs') %>
