<%- include('./partials/header.ejs') %>
</head>
<body>
<section class="d-flex align-items-stretch">
  <%- include('./partials/side_navbar.ejs')%>
  
  <div class="main-content flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mb-5">
          <h1 class="quiz-heading">Hi <%=user%>, welcome to Quiz mode</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 Content">
              <p>Want to test your knowledge and master key concepts? Dive into Knolly's Quiz Mode!</p>
              <p>Choose your topic, answer practice questions, and get instant feedback with step-by-step explanations.</p>
              <p>Whether you're a quick study or need a deeper dive, Knolly's Quiz Mode will help you ace your exams and boost your confidence.</p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-6 mode-wrapper">
              <div class="text-center mb-4">
                <h2>Answer Mode</h2>
              </div>
              <img src="/assets/img/test_mode.svg" class="img-fluid mt-3 mb-3 mx-auto d-block" alt="Sample Image">
              <p><b>Test Your Skills:</b> Practice exam-style questions and get instant feedback on your answers. Knolly will mark your work and provide clear explanations.</p>
              <a href="/topic" class="btn btn-primary d-block mx-auto">Checkout Now</a>
            </div>
            <div class="col-md-6 mode-wrapper">
              <div class="text-center mb-4">
                <h2>Metacognition Mode</h2>
              </div>
              <img src="/assets/img/metacognition_mode.svg" class="img-fluid mt-3 mb-3 mx-auto d-block" alt="Sample Image">
              <p><b>Level Up Your Learning:</b> Go beyond just getting the answer! This mode challenges you to order the steps needed to solve a problem, building critical thinking skills and a deeper understanding.</p>
              <a href="#" class="btn btn-primary d-block mx-auto">Checkout Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
